<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/home" class="breadcrumb">Home</a>
    </div>
  </div>
</nav>


<div class="container">
  <form action= '/' method="post">
    <h1>Add &amp; Define A Word!</h1>
    <div class="form-group">
      <label for="vocabulary_word">Enter a new Word:</label>
      <input class="form-control" type="text" name="vocabulary_word" id="vocabulary_word">
    </div>
    <div class="form-group">
      <label for="definition">Enter a definition:</label>
      <input class="form-control" type="text" name="definition" id="definition">
    </div>
    <button type="submit">Submit</button>
  </form>

  <h2>Your Vocabulary Words:</h2>

  <% @list.each do |vocab_word| %>
    <a href='/words/<%=vocab_word.id%>'><%=vocab_word.vocabulary_word%></a>
    <br>
  <% end %>
</div>
