<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="#!" class="breadcrumb">First</a>
      <a href="#!" class="breadcrumb">Second</a>
      <a href="#!" class="breadcrumb">Third</a>
    </div>
  </div>
</nav>

<form action="/" method="post">
  <div class="container">
  <h1> <%= @def_words.word %> </h1>
    <div class="form-group">
      <label for="definition">Enter A Definition:</label>
      <input type="text" name="definition" id="definition" class="form-control">
    </div>
    <button type="submit" class="btn">Add Definition!</button>
  </div>
</form>

<ul>
  <% @defined.each do |define| %>
    <li> <%= def_word.word %> : <%= define.definition %></li>
  <% end %>
</ul>
<a href="/">Return to home</a>
