
<form action="/" method="post">
  <div class="container">
  <h1> <%= @def_words.word %> </h1>
    <div class="form-group">
      <label for="definition">Enter A Definition:</label>
      <input type="text" name="definition" id="definition" class="form-control">
    </div>
    <button type="submit" class="btn">Add Definition!</button>
  </div>
</form>

<ul>
  <% @defined.each do |define| %>
  <li> <%= define.definiton %></li>
  <% end %>
</ul>
